.cargando {
  position: relative;
  color: #00b8de;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.contenedor-loader {
  height: 6em;
}
#contenedor {
  background-color: #000000d7;
  display: grid;
  place-content: center;
  height: 100vh;
  color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


.loader,
.loader:before,
.loader:after {
  background: #00b8de;
  animation: cargando 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 40% auto;
  position: relative;
  font-size: 11px;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  animation-delay: 0.32s;
}

@keyframes cargando {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #00b8de;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #00b8de;
    height: 5em;
  }
}
