<ul class="nav nav-tabs mb-3 justify-content-between">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      routerLink="/home"
      >Inicio</a
    >
  </li>
  <div class="d-flex">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home/appointments"
        routerLinkActive="active"
        >Agendar Cita</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home/personal/contact"
        routerLinkActive="active"
        >Contacto</a
      >
    </li>
  </div>
</ul>
