<div class="box-flex">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-4 col-lg-3 py-3 px-5">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mb-3">
          <div class="col-12">
            <a routerLink="/login" class="nav-link">
              <i class="bi bi-arrow-left-circle h5"></i>
            </a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="form-label">Nombre de Usuario:</label>
            <input
              type="text"
              [ngClass]="
                nameField?.errors && nameField?.touched
                  ? 'is-invalid form-control'
                  : 'form-control'
              "
              formControlName="name"
            />
            <div
              *ngIf="nameField?.errors && nameField?.touched"
              class="text-danger"
            >
              <p *ngIf="nameField?.hasError('required')">
                El usuario es requerido
              </p>
              <p *ngIf="nameField?.hasError('minlength')">
                Mínimo 4 caracteres
              </p>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="form-label">Email:</label>
            <input
              type="text"
              [ngClass]="
                emailField?.errors && emailField?.touched
                  ? 'is-invalid form-control'
                  : 'form-control'
              "
              formControlName="email"
            />
            <div
              *ngIf="emailField?.errors && emailField?.touched"
              class="text-danger m-1"
            >
              <p *ngIf="emailField?.hasError('required')">
                El email es requerido
              </p>
              <p *ngIf="emailField?.hasError('email')">El email no es valido</p>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="form-label">Password:</label>
            <div class="input-group mb-3">
              <input
                [type]="isShowPassword ? 'text' : 'password'"
                [ngClass]="
                  passwordField?.errors && passwordField?.touched
                    ? 'is-invalid form-control'
                    : 'form-control'
                "
                formControlName="password"
              />
              <span class="input-group-text" id="basic-addon2">
                <ng-template [ngIf]="isShowPassword" [ngIfElse]="eyes">
                  <i
                    class="bi bi-eye cursor-pointer"
                    (click)="setIsShowPassword()"
                  ></i>
                </ng-template>
                <ng-template #eyes>
                  <i
                    class="bi bi-eye-slash cursor-pointer"
                    (click)="setIsShowPassword()"
                  ></i>
                </ng-template>
              </span>
            </div>
            <div
              *ngIf="passwordField?.errors && passwordField?.touched"
              class="text-danger m-1"
            >
              <p *ngIf="passwordField?.hasError('required')">
                La contraseña es requerida
              </p>
              <p *ngIf="passwordField?.hasError('minlength')">
                Mínimo 8 caracteres
              </p>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <ng-template *ngIf="isLoading$ | async; else loaderButton">
              <button
                class="btn btn-secondary w-100 shadow"
                type="button"
                disabled
              >
                <span role="status">Cargando...</span>
                <span
                  class="spinner-grow spinner-grow-sm ms-2"
                  aria-hidden="true"
                ></span>
              </button>
            </ng-template>
            <ng-template #loaderButton>
              <button type="submit" class="btn btn-primary w-100 shadow">
                Crear
                <i class="bi bi-person-add"></i>
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
