@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 5px;
}

.borderCircle {
  width: 50px;
  height: 50px;
  background-color: #0167ff;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid;
  padding: 10px;
}

/* box */

.box-flex {
  height: calc(100vh - 30px);
}

.box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh);
}

.box-content {
  height: 100%;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}


/* tablets format */
.tableFixHead {
  overflow: auto;
  height: 400px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}
.tableFixHead tbody th {
  position: sticky;
  left: 0;
}
table > tbody > tr {
  cursor: pointer;
}
.tableNoContent thead th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}
